@model IEnumerable<Desafio3DSE.Models.Productos>

@{
    ViewBag.Title = "Index";
}

<h2>Productos</h2>

<p>
    @Html.ActionLink("Añadir producto", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreProd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioProd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantidadProd)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreProd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecioProd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CantidadProd)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.id }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
